.App {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) {
  .App {
    background-color: lightblue;
    font-size: 16px;
  }
}

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) and (max-width: 767.98px) {
  .App {
    background-color: lightgreen;
    font-size: 18px;
  } */
/* } */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) and (max-width: 991.98px) {
  .App {
    background-color: lightyellow;
    font-size: 20px;
  }
} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) and (max-width: 1199.98px) {
  .App {
    background-color: lightcoral;
    font-size: 22px;
  }
} */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
  .App {
    background-color: lightgrey;
    font-size: 24px;
  }
}  */
